/* ---- Page reset to ensure a clean start ---- */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Setting font size for inheritance to use rem instead of px.*/
  /* Use % to make sure that user can change default fontsize correctly */
}

body {
  padding: 2rem;
  box-sizing: border-box;
}
/* -------------------------------------------- */