/* ---- Page reset to ensure a clean start ---- */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Defining what 1rem should be (here 1rem = 10px) */
html {
  font-size: 62.5%;

  @include respond(big) {
    font-size: 75%; // 1rem = 12px -> 12/16 = 0.75
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px -> 9/16 = 0.5625
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px -> 8/16 = 0.5
  }
}

body {
  padding: 2rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
/* -------------------------------------------- */
