/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Page reset to ensure a clean start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777;
  padding: 20px;
}
/* ----------------------------------- */

.header {
  position: relative; /* Sets the origin for the position absolute */
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgb(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* Creates the bottom cutout shape (bennettfeely.com/clippy/ for clip-path generator) */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  filter: invert(1);
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%; /* In relation to parent element (.header) */
  left: 50%; /* In relation to parent element (.header) */
  transform: translate(
    -50%,
    -50%
  ); /* In relation to the element it self (.text-box) */
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;

  backface-visibility: hidden; /* Removes shaking in animations */
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* Animation */
  animation-name: moveInLeft;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.5px;

  /* Animation - different syntax */
  animation: moveInRight 0.8s ease-out;
}

@keyframes moveInLeft {
  0% {
    /* Initial properties */
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    /* End properties */
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
